# Ignore files for Docker build

# Git
.git
.gitignore
.gitattributes

# Build results
**/bin/
**/obj/
**/out/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Test results
TestResults/
*.trx

# NuGet
*.nupkg
*.snupkg
.nuget/

# Others
*.log
*.tmp
*~
README.md
LICENSE
